


html, body {
    height: 100%;
  }
  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4f8cd1;
  background: linear-gradient(90deg, rgb(129, 193, 230) 0%, rgb(79, 120, 209) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 135, 209, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #0084ff;
    box-shadow: 0 0 60px rgba(0, 174, 255, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #2731bbf8;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #0099ff;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }


  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }



  @keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #63bbb9;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 86%;
    width: 161px;
    height: 161px;
    bottom: -161px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 30%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 78%;
    width: 117px;
    height: 117px;
    bottom: -117px;
    animation-delay: 3s;
}
.background li:nth-child(3) {
    left: 59%;
    width: 199px;
    height: 199px;
    bottom: -199px;
    animation-delay: 15s;
}
.background li:nth-child(4) {
    left: 27%;
    width: 137px;
    height: 137px;
    bottom: -137px;
    animation-delay: 17s;
}
.background li:nth-child(5) {
    left: 84%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 23s;
}
.background li:nth-child(6) {
    left: 38%;
    width: 139px;
    height: 139px;
    bottom: -139px;
    animation-delay: 4s;
}
.background li:nth-child(7) {
    left: 39%;
    width: 180px;
    height: 180px;
    bottom: -180px;
    animation-delay: 28s;
}
.background li:nth-child(8) {
    left: 38%;
    width: 154px;
    height: 154px;
    bottom: -154px;
    animation-delay: 5s;
}
.background li:nth-child(9) {
    left: 74%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 3s;
}